@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background: #021431;
    padding: 8px 16px;
    color: #C7C9D1;
    border-radius: 10px;

    &:hover {
        background: #021431;
    }
}

.name {
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #C7C9D1;
}